# The generator runs in multiple instances. The channels are used for differentiation.
CHANNEL_NAME=

# Specify the expiry time. Use this to create a separate expiration time per channel. Specified in hours. 168 hours are 7 days
EXPIRE_TIME=168

# Specify the URL of Key Management Server.
KMS_URL=

# Specify the TOKEN of Key Management Server.
KMS_TOKEN=

# Specify the keyinfo-file path. FFMPEG need this to encrypt the stream. Must be an absolut path.
OUTPUT_DIR=./data/ffmpegInfo/

# Specify the Queue-file path. Saved queue of failed key uploads.
QUEUE_PATH=./data/queue/


# Specify the cron schedule, see https://apscheduler.readthedocs.io/en/stable/modules/triggers/cron.html#module-apscheduler.triggers.cron for details
# SCHEDULE_GENERATE=*/60 * * * *
# SCHEDULE_QUEUE=*/5 * * * *
